* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;f;
}

h1,
h2,
h3 {
    font-family: 'Raleway', sans-serif;    
}

/* background image */
.background-img {
  background-image: url(../images/skyline.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
}

/* wrapper to hold tiles in place */
.wrapper {
  width: 95%;
  position: relative;
  top: 15%;
  left: 2%;
}

/* tiles styling */
.dark-overlay {
  background-color: rgba(0, 0, 0, 0.603);
  padding: 1rem;
  border-radius: 25px;
}

/* tall container styling */
/* search bar */
.search_container {
  display: flex;
  padding-top: 2rem;
}

input {
    color: #ffffff;
    outline: 0;
    border-width: 0 0 2px;
    border-color: rgb(0, 0, 0);
    background-color: transparent;
    margin: auto;
    margin-left: 3rem;
    display: block;
    width: 80%;
    padding: 12px 24px;
    font-size: 1.5rem;
    line-height: 18px;
  }

  input:focus {
    border-color: #ffffff;
  }

  .search-btn {
      background-color: transparent;
      border-style: none;
      padding: 1.2rem;
  }

  .searched-cities:hover,
  .search-btn:hover {
      background-color: rgba(0, 0, 0, 0.459);
      color: #ffffff;
      border-radius: 25px;
  }

  .searched-cities{
      display: flex;
      justify-content: space-between;
      padding: 1rem;
      font-size: 1.5rem;
  }

  /* current city section */
  .temp-icon-wrapper{
    display: flex;
    justify-content: space-between;
  }

  .title-city{
    font-size: 4.5rem;
  }

  .current-icon{
    font-size: 6.5rem;
  }

  .temp-display{
    font-size: 5rem;
  }

  .current-temp-container,
  .current-weather-icon-container{
    display: inline-block;
    padding: 0 1rem 1rem 0;
  }

  /* middle tile section */
  .daily-stats{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    font-size: 1.2rem;
  }

  /* 5 day forecast section */
  .forecast-card-column {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 1rem 0; 
    text-align: center;
    font-size: 1rem;
}


@media (max-width: 576px) { 
  .mobile-format{
    align-items: center;
  }
}


@media (max-width: 768px) { 
  .background-img {
    background-image: url(../images/skyline.jpg);
    height: auto;
  }
}


@media (max-width: 992px) { 
  input{
    margin-left: 1rem;
    font-size: 1rem;
    padding: 12px;
  }
  .search-btn{
    padding: 1rem;
  }
 }


@media (max-width: 1200px) { 
  .title-city{
    font-size: 2.5rem;
  }
  .temp-display{
      font-size: 4rem;
  }
  .current-icon {
    font-size: 4rem;
  }
  .daily-stats,
  .searched-cities{
    font-size: 1rem;
  }
  .subtitle{
    font-size: 1rem;
  }
  input{
    margin-left: 2rem;
    font-size: 1rem;
  }
}

