* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;f;
}

h1,
h2,
h3 {
    font-family: 'Raleway', sans-serif;    
}

/* background image */
.background-img {
  background-image: url(../images/skyline.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
}

/* wrapper to hold tiles in place */
.wrapper {
  width: 95%;
  position: relative;
  top: 15%;
  left: 2%;
}

/* tiles styling */
.dark-overlay {
  background-color: rgba(0, 0, 0, 0.459);
  padding: 1rem;
  border-radius: 25px;
}

.tall-container {
  /* height: 90vh; */
}

/* tall container styling */
/* search bar */
.search_container {
  display: flex;
  padding-top: 2rem;
}

input {
    color: #ffffff;
    outline: 0;
    border-width: 0 0 2px;
    border-color: rgb(0, 0, 0);
    background-color: transparent;
    margin: auto;
    margin-left: 3rem;
    display: block;
    width: 80%;
    padding: 12px 24px;
    font-size: 1.5rem;
    line-height: 18px;
  }

  input:focus {
    border-color: #ffffff;
  }

  .search-btn {
      background-color: transparent;
      border-style: none;
      padding: 1.2rem;
  }

  .searched-cities:hover,
  .search-btn:hover {
      background-color: rgba(0, 0, 0, 0.459);
      color: #ffffff;
      border-radius: 25px;
  }

.searched-cities{
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem;
    font-size: 1.5rem;
}


/* current city section */
.title-city{
    font-size: 4.5rem;
}

  .temp-display{
      font-size: 6rem;
  }

  /* 5 day forecast section */
  .future-weather-card{
      text-align: center;
      font-size: 1rem;
  }

  .current-weather-icon-container{
      text-align: center;
      line-height: 5rem;
      vertical-align: middle;
  }

  .current-icon {
    font-size: 7rem;
  }