* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;f;
}

h1,
h2,
h3 {
    font-family: 'Raleway', sans-serif;    
}

/* background image */
.background-img {
  background-image: url(../images/skyline.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
}

/* wrapper to hold tiles in place */
.wrapper {
  width: 95%;
  height: 95%;
  position: relative;
  top: 6%;
  left: 2%;
}

/* tiles styling */
.dark-overlay {
  background-color: rgba(0, 0, 0, 0.459);
  padding: 10px;
  border-radius: 25px;
}

.tall-container {
  height: 90vh;
}

/* search bar */
.search_container {
  display: flex;
}

input {
    outline: 0;
    border-width: 0 0 2px;
    border-color: rgb(0, 0, 0);
    background-color: transparent;
    margin: auto;
    display: block;
    width: 80%;
    padding: 12px 24px;
    font-size: 1.5rem;
    line-height: 18px;
  }

  input:focus {
    border-color: #ffffff;
  }

  .search-btn {
      background-color: transparent;
      border-style: none;
      padding-right: 1.5rem;
  }

.current-weather-container{
    display: flex;
}

  .temp-display{
      font-size: 5rem;
  }
  .current-weather-desc{
      text-align: center;
      padding: 2rem;
      font-size: 1rem;
  }
